/*Desktop Styles*/

.non-critical *{
    margin:0 ;
}
.row,.col{
    margin: 0 ;
    padding: 0 ;
}
.block{
    display: block;
    color: #fff;
    font-family: 'Muli', sans-serif;
    font-size: 25px;
    font-weight: 700;
    width: 200px;
    padding: 15px 25px;
    margin: 0 auto;
    text-align: center;
}
.black-block{
    background-color: #1f1f1f;
}
.purple-block{
    background-color: #7b47d1;
}
.circle-block{
    display: inline-block;
    font-size: 30px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    vertical-align: bottom;
    text-align: center;
    color: #fff;
}
.section-svg-container{
    text-align: center;
}
.section-illustration-container,.section-content-container,.section-svg-container{
    padding: 0!important;
}
.section-content-container{
    padding: 0 50px 50px 50px !important;
}
.right-column{
    text-align: right;
}
.section-title{
    color: #fff;
    display: inline-block;
    line-height: 60px;
}
.section-content{
    margin-top: 20px;
    color: #fff;
    font-size: 14pt;
    text-justify: distribute;
}
.section-illustration{
    display: block;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 20% !important;
}
.circle-container{
    padding: 25px;
    display: flex;
    margin: 20px auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #313131;
    justify-content: center;
    cursor: pointer;
}
.circle-container img{
    width: 50%;
}
.circle-caption{
    color: #fff;
    text-align: center;
}
.vertical-shift{
    transform: translateY(calc(-50% + 33.75px));
}

/*Timeline styles*/
.timeline-container{
    padding: 25px 20%;
}
.timeline-container .col{
    padding: 0!important;
}
.day-one{
    margin:0;
}
.day-two-container{
    transform: translateY(-50%);
}
.fixed-height{
    height: 300px;
}
.line-container{
    position: relative;
}
.line-container .circle-caption{
    transform: scale(0.75);
}
.left-line{
    position: absolute;
    left: 0;
}
.right-line{
    position: absolute;
    right: 0;
}
.bottom-line{
    position: absolute;
    bottom: -10px;
}
.top-line{
    position: absolute;
    top: -20px;
}
.timeline-content{
    transform: translate(12.5%,-50%);
}
.time-container{
    position: relative;
}
.time-top,.time-bottom{
    position: absolute;
    left: calc(50% - 100px);
}
.time-top{
    transform: scale(0.5) translateY(-75%);
    top:0;
}
.time-bottom{
    transform: scale(0.5) translateY(-25%);
    bottom: 0;
}
.mobile-timeline-vertical-line,.mobile-timeline-horizontal-line{
    display: none;
}
.timeline-section{
    position: relative;
}
.timeline-end{
    transform: translate(50% ,calc(-50%))
}

.social{
    display: flex;
    align-content:space-around;
    justify-content: center;
}
.social-item{
    width: 50px;
    height: 50px;
    background-color: #313131;
    border-radius: 50%;
    text-align: center;
    margin: 10px;
}
.social-item img{
    width: auto;
    height: 50%;
    transform: translateY(50%);
}

/*Mobile styles*/

@media (max-width: 600px) {
    .know-more{
        text-align: center;
        transform: translate(16px,-5px);
        margin:0;
    }
    .section-content-container{
        padding: 0 20px 20px 20px !important;
    }
    .section-illustration{
        width: 100%;
    }
    .section-svg-container{
        text-align: right;
    }
    .right-column{
        text-align: left;
    }
    .start{
        display: none;
    }
    .connect{
        position: absolute;
        display: block;
        top: -8px;
        z-index: -1;
    }

    /*Timeline mobile*/
    .timeline-title{
        margin-left: 7%;
        transform: translateY(-15px);
    }
    .timeline-container{
        padding: 25px 7%;
    }
    .bottom-line,.top-line,.left-line,.right-line{
        display: none;
    }
    .fixed-height{
        height: unset !important;
        padding: 20px 0 0 0;
    }
    .day-two-container{
        transform: translateY(10px);
    }
    .timeline-content{
        transform: none;
        padding: 20px 0 0 0;
    }
    .timeline-content>.col{
        position: relative;
    }
    .mobile-timeline-vertical-line{
        display: block;
        position: absolute;
        top: 67.5px;
        left: 0;
    }
    .mobile-timeline-horizontal-line{
        display: block;
        width: 50%;
        position: absolute;
        top: calc(50% - 5px);
        z-index: -1;
    }
    .timeline-end{
        transform: none;
    }
}


/*SVG Styles*/
.inner-circle{
    fill: #7b47d1;
}
.line-segment {
    fill: none;
    stroke: #7b47d1;
    stroke-width: 10px;
}
.connect{
    position: absolute;
    display: block;
    top: -8px;
    left:calc(50% - 22px);
    z-index: -1;
}